body::after {
    content: "";
    background: url(/assets/img/vine.jpg);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  
  }

/* Navbar start*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 200;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px 4px #000000;
    

}

li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-shadow: black;
    text-decoration: none;
    margin-top: 30;
    font-size: 25px;
}
li a:hover {
    transform: scale(1.2);
    color: rgb(255, 136, 107);
    

}

    /* Navbar end */
    
    h1 {
        font-family: 'Dancing Script', cursive;
        color: #fff;
        text-align: center;
        margin-top: 50;
        margin-bottom: 70;
        text-shadow: 2px 2px 4px #000000;
        }
    
        h2 {
            font-family: 'Shippori Mincho B1', serif;
            color: #fff;
            text-align: center;
            margin-bottom: 50;
            text-shadow: 2px 2px 4px #000000;

        }
        p {
            font-family: 'Shippori Mincho B1', serif;
            color: #fff;
            text-align: left;
            text-shadow: 2px 2px 4px #000000;
        }

        nav {
            font-family: 'Shippori Mincho B1', serif;
            color: #fff;
            text-align: center;
            font-size: 50;
            transform: scale(1.2);
        }

        img {
            margin-left: 50;
            width: 300;
            height: 200;
            float: left;
            padding: 30;
            border-radius: 50%;
        }
        .fa {
            text-shadow: 2px 2px 4px #000000;
            color: rgb(255, 136, 107);
        }