

  body::after {
    content: "";
    background: url(/assets/img/swing.jpg);
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-repeat: no-repeat;
    /* background-attachment: fixed;
    background-position: center; */
    background-color: rgb(238, 184, 184);
  
  }

/* Navbar start*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 200;
    font-family: 'Dancing Script', cursive;
    
    
    /* width: 200px; */
    /* background-color: #f1f1f1; */
}

/* li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
} */
li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-shadow: black;
    text-decoration: none;
    margin-top: 30;
    font-size: 25px;
}
li a:hover {
    transform: scale(1.2);
    

}
/* Navbar end */

h1 {
    font-family: 'Dancing Script', cursive;
    color: #fff;
    text-align: left;
    margin-top: 50;
    margin-left: 200;
    }

    h2 {
        font-family: 'Dancing Script', cursive;
        color:#fff;
        text-align: left;
        margin-left: 200;

    }

    img
    {
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
    float: left;
    height: 300;
    margin-top: 50;
    
    }

    .img {
        display: block;
        margin-left: auto;
        margin-left: 200;
        width: 250;
      }


    